<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleIntelTGLGraphics</string>
	<key>CFBundleIdentifier</key>
	<string>com.tgligpu.kext</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleIntelTGLGraphics</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>0.1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Iris Xe Controller</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.tgligpu.kext</string>
			<key>IOClass</key>
			<string>AppleIntelTGLGraphics</string>
			<key>IOMatchCategory</key>
			<string>AppleIntelTGLGraphics</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x9A408086 0x9A498086 0x9A608086 0x9A688086 0x9A708086 0x9A788086 0x9AC08086 0x9AC98086 0x9AD98086 0x9AF88086</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Reverse-engineering / interoperability project. No warranty.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>0.1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.9</string>
		<key>com.apple.kpi.iokit</key>
		<string>15.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>15.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
